.NutritionValues {
  width: 35%;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 10px 10px;
  border-radius: 8px;
  max-height: fit-content;
}

.NutritionValues ul {
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}

.Headers {
  font-weight: bold;
}
