.Menu {
  height: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  align-content: center;
}

.Menu img {
  padding: 3px;
  height: 100%;
  vertical-align: 0;
}

.Menu:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
