.RecipeTileContainer {
  display: flex;
  flex: 0 0 auto;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  margin: 6px 6px 6px 6px;
  border-radius: 8px;
  width: 260px;
  height: 208.5px;
  color: gray;
}

.RecipeTileContainer:hover {
  cursor: pointer;
  color: black;
  background-color: #e8e8e8;
}

.RecipeTilePreview {
  margin: 5px;
  text-align: center;
}

.RecipeTilePreview li,
a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  list-style-type: none;
}
