.HeaderContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.hidden {
  display: inherit !important;
}

.BackButton {
  position: absolute;
  left: 20%;
}

.HeaderSubContainer {
  display: flex;
  flex-flow: column;
}

.HeaderSubContainer > * {
  padding-bottom: 10px;
}
