.FormContainer {
  text-align: center;
}

.FormContainerHelpBlock {
  color: #3a9bd6;
}

.FormGroupInline {
  display: inline-flex;
}

.HealthIssuesDisplayListContainer {
  width: 70%;
  max-height: 250px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  display: inline-flex;
  margin-top: 24px;
}

.HealthIssuesDisplayListContainer ul {
  max-height: 250px;
  max-width: 100%;
  flex-wrap: wrap;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}

.HealthIssuesDisplayListContainer li {
  padding-inline-end: 24px;
}

.PanelGroupContainer {
  max-height: 500px;
}

.FooterContainer {
  margin-top: 24px;
}

.PanelContainer {
  max-height: 300px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: right;
}

.RegistrationScreenContainer {
  display: flex;
}

.RegistrationScreenContainerMessage {
  text-align: center;
  margin-top: 25px;
}

.RegistrationSuccessScreenContainerHeader {
  color: #34c3ff;
  font-family: cursive;
  font-size: -webkit-xxx-large;
  text-shadow: 1px -1px 2px black;
}

.RegistrationFailScreenContainerHeader {
  color: #ff3445;
  font-family: cursive;
  font-size: -webkit-xxx-large;
  text-shadow: 1px -1px 2px black;
}
