.RecipeTileImage {
  max-width: fit-content;
  max-height: 136.5px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  align-self: center;
}

.RecipeScreenInnerImage {
  width: 100%;
  max-height: inherit;
  padding: 10px;
}

.SelectorImage {
  width: 100%;
  max-height: -webkit-fill-available;
  border-radius: 5px;
}

.SelectorImageSelected {
  width: 100%;
  max-height: -webkit-fill-available;
  border-radius: 5px;
  border: 3px solid limegreen;
}

.CommentImage {
  width: 100%;
  padding: auto;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.RecipeScreenImage {
  width: fit-content;
  height: auto;
  max-width: 400px;
  align-self: center;
}

.RegistrationScreen {
  width: 186.6px;
  height: auto;
}

.Thumb {
  width: 40px;
  height: auto;
  position: absolute;
  bottom: -5%;
  left: -5%;
}

.ThumbImage {
  width: 100%;
  max-height: inherit;
}

.GoogleIcon {
  height: 18px;
  width: 18px;
}

.InnerGoogleIcon {
  width: 100%;
  max-height: inherit;
}
