.PanelContainerCard {
  width: 100px;
  height: 100px;
  padding: 4px 4px 4px 4px;
  font-weight: bold;
  font-size: small;
}

.PanelContainerCard:hover {
  cursor: pointer;
}

.PanelContainerCard button {
  color: inherit;
  background-color: inherit;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  height: 100%;
  width: inherit;
}

.PanelContainerCard button:focus {
  outline: none;
}

.CheckMarkContainer {
  height: 50px;
  width: 50px;
}

.CheckMarkContainer img {
  height: 50px;
  width: 50px;
}
