.RegistrationScreenContainer {
  display: flex;
}

.RegistrationScreenContainerMessage {
  text-align: center;
  margin-top: 25px;
}

.RegistrationSuccessScreenContainerHeader {
  color: #34c3ff;
  font-family: cursive;
  font-size: -webkit-xxx-large;
  text-shadow: 1px -1px 2px black;
}

.RegistrationFailScreenContainerHeader {
  color: #ff3445;
  font-family: cursive;
  font-size: -webkit-xxx-large;
  text-shadow: 1px -1px 2px black;
}
