.LoginContainer {
  text-align: center;
}

.FacebookBtn {
  border-radius: 8px;
  color: white;
  background-color: dodgerblue;
}

.GoogleBtn {
  border-radius: 8px;
  border: none;
  padding: 0;
  background-color: inherit;
}
