.NavBarButton {
  background-color: inherit;
  color: inherit;
  border: none;
}

.NavBarButton:focus {
  outline: none;
}

.NoPadding {
  padding: 0;
}

.NavLink {
  color: rgba(0, 0, 0, 0.5);
}

.NavLink:hover {
  color: inherit;
}

.NavLink:active {
  text-decoration: none;
  color: inherit;
}

.NavLinkHover:hover {
  background-color: #e8e8e8;
  border-radius: 8px;
}

.MarginRight {
  margin-right: 6px;
}
