.RecipeTilesScreenContainer {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
}

.RecipeTilesScreenContainerColumn {
  flex: 20%;
  max-width: 20%;
  padding: 8px;
}
