.Logo {
  height: 36px;
  box-sizing: border-box;
  border-radius: 5px;
  align-content: center;
}

.Logo img {
  height: 100%;
  vertical-align: 0;
}

.Logo:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
