.RecipeScreenMain {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  padding: 5px 10px;
  overflow: auto;
}

.RecipeScreenMain::-webkit-scrollbar {
  display: none;
}

.RecipeScreenControlArea {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 6px;
}

.RecipeScreenInfoArea {
  width: 70%;
  padding-left: 40px;
}

.RecipeScreenMainArea {
  display: flex;
  flex-direction: row;
}

.RecipeScreenInfoArea {
  display: flex;
  flex-direction: column;
}

.RecipeScreenIngredientsInfo {
  display: flex;
  flex-direction: row;
  padding-top: 34px;
}

.RecipeScreenIngredients {
  width: 50%;
}

.CommentSection {
  padding-top: 34px;
}
